@model EnglishTest.ModelView.Step

@{
    ViewBag.Title = "Play";
}

<h2>Step</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.PolishWord)
    @Html.HiddenFor(model => model.TestId)

    <div class="form-horizontal">
        <h4>Word</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(model => model.PolishWord, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <p class="form-control-static">@Model.PolishWord</p>
            </div>
        </div>

        <div class="form-group">
            <label class = "control-label col-md-2">Translation</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.EnglishWord, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.EnglishWord, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Next" class="btn btn-default" /> 
                <input type="button" value="Help" class="btn btn-default" id="helpButton"/> 
                <input type="button" value="Skip" class="btn btn-default" id="skipButton"/> |
                @Html.ActionLink("Finish Test", "Finish", new { Id = @Model.TestId })
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/play")
}
